body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #ef5350, #c62828);
    /* Vermelho de alerta */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 340px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo h1 {
    font-size: 26px;
    color: #c62828;
    margin: 0;
    font-weight: 700;
}

.logo i {
    font-size: 30px;
    color: #c62828;
}

p {
    color: #444;
    font-size: 15px;
    margin-bottom: 25px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-principal {
    padding: 12px;
    background-color: #c62828;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-principal:hover {
    background-color: #b71c1c;
}

.btn-secundario {
    padding: 12px;
    background-color: #ffcdd2;
    border: none;
    border-radius: 10px;
    color: #b71c1c;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-secundario:hover {
    background-color: #ef9a9a;
}